* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.icons-header {
    color: black;
    font-size: 25px;
}

.top-header {
    background-color: #EFE52D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 700px;
}

.top-header p {
    color: black;
    font-family: Kanit;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: black;
}

.header__img {
    max-width: 230px;
}

.menu {
    display: flex;
    gap: 4rem;
}

.menu__link {
    font-size: 16px;
    font-family: Kanit;
    text-transform: uppercase;
}

.menu__link:hover {
    color: #EFE52D;
}

.button {
    background-color: #EFE52D;
    border-radius: 5px;
    font-family: Kanit;
    padding: 7px;
    margin: -10px;
    text-transform: uppercase;
    border: none;
}

/* Main */

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.box:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}

.box:nth-of-type(2) {
    grid-column: 5 / 9;
    grid-row: 1 / 1;
}

.box:nth-of-type(3) {
    grid-column: 9 / 13;
    grid-row: 1 / 1;
}

.box:nth-of-type(4) {
    grid-column: 1 / 7;
}

.box:nth-of-type(5) {
    grid-column: 7 / 13;
}

.box {
    gap: 2rem;
    background-color: #EFE52D;
    border-radius: 5px;
    border: 2px solid;
    box-shadow: 2px 2px 2px 1px black;
}

.box__info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.box__title {
    font-family: Kanit;
    font-size: 23px;
    text-align: center;
}

.box__text {
    font-family: Kanit;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 30px 200px 30px 200px
}

.slider {
    width: 100%;
}

.font__h2 {
    font-family: Kanit;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    padding: 20px;
}

.font__parrafo {
    font-family: Kanit;
    text-align: center;
    font-size: 15px;
}

.client {
    width: 230px;
    display: block;
    margin: 0px auto;
}

.form input {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    font-family: Kanit;
}

.butons {
    background-color: #EFE52D !important;
    border-radius: 5px !important;
    font-family: Kanit !important;
    padding: 7px 15px !important;
    text-transform: uppercase !important;
    border: none !important;
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    resize: none;
    display: block;
    font-family: Kanit;
}

/* Footer */

.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 80px;
    gap: 120px;
}

.img__footer{
    width: 230px;
}

#footer-widgets {
    padding: 6% 0 0 0;
}

.footer-widget {
    color: #EFE52D;
    font-family: Kanit;
    display: flex;
    flex-direction: column;
}

.footer-widget p {
    color: #ffff;
    padding-top: 10px;
}

.footer-widget a {
    text-decoration: none;
}

.links {
    color: #ffff;
    font-family: Kanit;
}

.footer-top {
    background-color: #212121;
    padding: 10px;
}

.footer-top p {
    color: rgb(255, 255, 255);
    font-family: Kanit;
    margin: 0px 0px 0px 90px;
}

@media screen and (max-width: 880px) {
    header{
        flex-direction: column;
        justify-content: center;
    }
    
    .header__img {
        max-width: 160px;
    }
    
    .menu {
        gap: 16px;
        justify-content: center;
    }

    .wrapper{
        padding: 25px;
    }

    .icons-header {
        display: flex;
        gap: 8px;
    }

    header{
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .top-header {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
    }
    
    header{
        flex-direction: column;
        justify-content: center;
    }

    .menu__link {
        font-size: 11px;
    }

    .font__h2 {
        font-size: 13px;
        padding: 0px;
        margin: 10px;
    }

    .font__parrafo {
        font-size: 5px;

    }
    .wrapper{
        padding: 20px;
    }

    .cards{
        grid-template-rows: repeat(5, 1fr);
    }

    .box:nth-of-type(1) {
        grid-column: 1 / 13;
        grid-row: 1 / 1;
    }

    .box:nth-of-type(2) {
        grid-column: 1 / 13;
        grid-row: 2 / 2;
    }

    .box:nth-of-type(3) {
        grid-column: 1 / 13;
        grid-row: 3 / 3;
    }

    .box:nth-of-type(4) {
        grid-column: 1 / 13;
        grid-row: 4 / 4;
    }

    .box:nth-of-type(5) {
        grid-column: 1 / 13;
        grid-row: 5 / 5;
    }

    .main-footer{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .img__footer{
        width: 230px;
        justify-content: center;
    }

    .footer-widget p {
        flex-direction: column;
    }

}